.chat_user {
  cursor: pointer;
  background-color: #ffffff;
  padding-left: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  position: relative;

  &:hover {
    background-color: #cccbcb;
  }

  &.selected {
    background-color: #9ed3ff;
  }

  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #b0b0b0;
  }

  span {
    font-size: 14px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

.status {
  margin-bottom: 10px;
  border-bottom: 1px solid black;

  .online {
    color: green;
  }
  .offline {
    color: red;
  }
}

.messages {
  max-height: 680px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  align-self: self-start;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
}

.message {
  padding: 6px 12px;
  margin: 4px;
  border-radius: 24px;
  display: inline-block;
  width: fit-content;
  max-width: 720px;
  word-wrap: break-word;

  &.sender {
    align-self: flex-end;
    background-color: #3ea6fa;
  }

  &.receiver {
    background-color: #ffffff;
  }
}

.read {
  font-weight: bold;
  color: black;
}

.input_message {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
  position: fixed;
  top: 820px;
  left: 500px;
  width: 1020px;
  input {
    width: 100%;
    margin: 0;
  }

  button {
    height: 36px;
    margin-left: 6px;
    background-color: #078cf8;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.load_more {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  button {
    border: none;
    padding: 8px;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.dots::after {
  content: '';
  display: inline-block;
  animation: dotsAnimation 1.5s steps(3, end) infinite;
  font-weight: bold;
  margin-left: 5px;
}

@keyframes dotsAnimation {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}
