.form-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  z-index: 3;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__content {
  width: auto;
  min-width: 380px;
  background-color: #fff;
  position: fixed;
  padding: 24px;

  border-radius: 6px;
}

.form__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.form__button {
  padding: 0;
  display: flex;
  align-items: center;

  &:hover {
    border-radius: 50%;
    background-color: #cacaca;
  }
}

.form__button img {
  width: 24px;
  height: 24px;
}

.required {
  text-align: center;
  color: red;
}

.cukcuk-form {
  padding: 0 12px;
  min-width: 360px;
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 6px 0;
}

.form-group--column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 6px 0;
}

.group--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.form__section--left,
.form__section--right {
  width: 49%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form__section--right {
  flex-direction: row;
  margin-left: 12px;
}

.form__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 8px;
}

.form__item--2 {
  width: 48%;
}

.form__item--3 {
  width: 32%;
}

.form__item--4 {
  width: 24%;
}

.form__checkbox-group {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 3px;
}

.form__checkbox input {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

form label,
form input,
form button,
form select {
  margin: 4px 0;
}

form label {
  font-size: 16px;
  font-weight: 500;
}

.form__footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 8px;

  button {
    height: 18px;
    padding: 8px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-sizing: content-box;
  }
}

.form__input--date,
.form__input--radio {
  cursor: pointer;
}

.form-group--column ul {
  max-height: 300px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-group--column li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.form-group--column li:last-child {
  border-bottom: none;
}

.form-group--column ul::-webkit-scrollbar {
  width: 8px;
}

.form-group--column ul::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.form-group--column ul::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
}

.form-group--column ul::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.form-select {
  position: relative;
  min-height: 36px;
  height: auto;
  border: 1px solid #55555533;
  padding: 4px 10px;
  border-radius: 6px;
  z-index: 2;

  .select-value {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    div {
      display: flex;
      background-color: #f4f4f5;
      padding: 2px 4px;
      gap: 12px;
      border-radius: 6px;

      span {
        &:last-child {
          border-radius: 50%;
          cursor: pointer;
          width: 24px;
          height: 24px;
          text-align: center;

          &:hover {
            background-color: #555;
            color: white;
          }
        }
      }
    }

    .select--overlength {
      position: relative;

      &:hover .select--overlength-value {
        display: flex;
      }

      .select--overlength-value {
        background-color: #ffffff;
        padding: 4px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 100%;
        left: -160px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
        width: 320px;
        display: none;
        z-index: 10;
      }
    }
  }

  .select-option {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 2px solid gray;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    width: 240px;

    .select-item {
      height: 32px;
      padding: 0 10px;
      width: 100%;
      display: flex;
      align-items: center;
      &:hover {
        background-color: aqua;
      }
      img {
        margin-left: 10px;
        width: 16px;
        height: 16px;
        margin-right: 6px;
      }

      &--selected {
        background-color: #005eff77;
        padding: 0;
      }
    }

    span {
      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
      }
    }
  }
}

.form__item {
  .multi-choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span {
      border: 1px dashed black;
      padding: 0 10px;
      margin-bottom: 4px;
      width: 100%;
    }
    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-left: 6px;
    }
  }
}

.content--file {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  background-color: gainsboro;
  width: 100%;
  min-height: 100vh;
  .content__header {
    background-color: #fff;
    height: 56px;
    padding: 0 20px;
    margin: 0;
    z-index: 10;
    position: relative;

    &.header--shadow {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 36px;
        height: 36px;
        margin-right: 8px;
        cursor: pointer;
      }

      span {
        font-size: 20px;
        font-weight: 600;
        color: #606266;
      }
    }
  }

  .content-main {
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    gap: 20px;

    margin-top: 20px;

    div {
      border-radius: 10px;
      padding: 10px;
    }

    .file {
      width: 320px;
      background-color: #fff;
      height: 850px;

      .file-form {
        display: flex;
        flex-direction: column;
        justify-content: left;
      }
    }

    .file-data {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      .file-content {
        background-color: #fff;
        height: 800px;
        padding: 10px;
        overflow-y: scroll;
        width: 100%;
        margin: 0, auto;

        &::-webkit-scrollbar {
          width: 8px;
          height: 40px;
        }

        &::-webkit-scrollbar-track {
          background: #f2f2f2;

          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #b9b9b9;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #555;
        }
      }

      .footer {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: right;

        div {
          display: flex;
          flex-direction: row;
          gap: 8px;

          button {
            padding: 8px 24px;
            border-radius: 6px;

            &:first-child {
              background-color: #ffffff;
              &:hover {
                background-color: #dddddd;
                border: 1px solid gray;
              }
            }

            &:last-child {
              background-color: #078cf8;
              color: #ffffff;
              &:hover {
                background-color: #9bd2ff;
              }
            }
          }
        }
      }
    }
  }

  .file-upload-form {
    background-color: #ffffff;
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;

    .form {
      margin: auto;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      padding: 20px;
      height: auto;

      .form-data {
        .file-upload {
          width: 720px;
          border: 1px dashed #586074;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #f2f2f2;
          height: 240px;
          margin-bottom: 20px;
          cursor: pointer;

          img {
            width: 124px;
            height: 124px;
          }

          .upload__title {
            font-size: 14px;
            font-weight: 700;
          }
          .upload__notice {
            font-size: 11px;
            color: #6e737a;
          }
        }

        .file-category {
          display: flex;
          flex-direction: column;
          width: 50%;

          position: relative;

          .category--current {
            border: 1px solid #d6d6d6;
            padding: 4px 12px;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 6px;
          }
          .category-data {
            display: flex;
            flex-direction: column;
            width: 240px;
            border-radius: 6px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            padding: 8px 0;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 2;
            background-color: #ffffff;
            height: 260px;
            overflow-y: scroll;

            div {
              padding: 8px 12px;
              color: #616060;
              display: flex;
              justify-content: space-between;
              align-items: center;

              &.selected {
                color: #078cf8;
                background-color: #c2e3fd;
              }

              &:hover {
                color: #078cf8;
                background-color: #a7d5f9;
              }
            }
          }
        }
      }

      .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 10px;
        margin-top: 20px;
        button {
          padding: 8px 15px;
        }
      }
    }
  }
}
