.main-container {
  position: relative;
  height: 620px;
  overflow-y: scroll;

  .employee-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;

    th,
    td {
      border: 1px solid #ddd;
      border-top: none;
      padding: 6px;
      text-align: left;
      position: relative;
      box-sizing: border-box;
    }

    th {
      font-weight: 600;
      color: black;
    }

    thead {
      position: sticky;
      top: 0;
      background-color: #f5f7fa;
      z-index: 2;
      margin: 0;
      padding: 0;

      tr {
        z-index: 2;
        position: sticky;
        top: 0;

        th {
          text-align: center;
          position: relative;
          box-shadow: 1px 0 0 #ddd;
          border-right: 0;

          &:last-child {
            border-right: 1px;
          }
        }
      }
    }

    tr:hover {
      background-color: #f5f7fa;
    }
    td {
      overflow-x: hidden;
      border-right: 0;
    }
  }
}

.action {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.action-buttons {
  position: absolute;
}

tr:hover .action-button .button__icon {
  background-color: #f5f7fa;
}
tr:hover .action-button {
  background-color: #f5f7fa;
}

.action-button {
  width: 26px;
  height: 26px;
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: none;
  border-radius: 50%;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;

  &:hover {
    border: 1px solid #078cf8;

    .button__icon {
      color: #078cf8;
    }
  }

  .button__icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: black;
    &.selected {
      color: #078cf8;
    }
  }
}

.action-button:hover {
  opacity: 0.8;
}

.main-container::-webkit-scrollbar {
  width: 8px;
}

.main-container::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.main-container::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
}

.main-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.popup-action {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translate(0, 0);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: auto;
  align-items: center;
  z-index: 10;
  overflow: hidden;
  padding: 8px;
  min-width: 80px;

  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 4px 6px;
    gap: 6px;
    border-radius: 4px;
    transition: 0.1s ease-in-out;
    &:hover {
      background-color: #f1f5fc;
    }
  }
}
