.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #041434;
  justify-content: space-between;
  flex-shrink: 0;
  width: 200px;
  height: 690px;
}

.sidebar__buttons {
  display: flex;
  flex-direction: column;
  padding: 24px 12px 0 12px;
}

.sidebar__button {
  padding: 10px;
  height: 44px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 4px;
}

.sidebar__button:hover {
  background-color: #a7c4ff;
}

.sidebar__button-logo {
  filter: brightness(0) invert(1);
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.sidebar__button-text {
  font-size: 14px;
  font-weight: 500;
}

.sidebar__button--toggle {
  width: 88%;
  margin: 6px 12px;
}

.sidebar__separator {
  height: 1px;
  background-color: white;
}

.sidebar--less {
  width: 56px;
}

.sidebar--less .sidebar__buttons {
  padding: 24px 0 0 0;
}

.sidebar--less .sidebar__button {
  width: 48px;
  margin: 4px;
}

.sidebar--less .sidebar__button-text {
  display: none;
}

.sidebar--less .sidebar__button:hover::after {
  content: attr(data-text);
  position: absolute;
  margin-left: 48px;
  background-color: #041434;
  color: #fff;
  border-radius: 4px;
  padding: 12px 16px;
  z-index: 10;
  font-size: 14px;
  font-weight: 500;
}
