* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #e5e5e5;
}

.content {
  padding: 24px;
  width: 100%;
}

.content__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.content__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  min-width: 80px;
}

.button--add-logo {
  filter: brightness(0) invert(1);
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.button--add-text {
  font-size: 16px;
  font-weight: 400;
}
.content__table {
  background-color: #fff;
  height: auto;
  padding: 14px;
  border-radius: 6px;
}
