button {
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  padding: 8px;
  border: none;
  margin: 0;
  cursor: pointer;

  &.button--add {
    background-color: #078cf8;
    border: 1px solid transparent;
    color: #fff;

    &:hover {
      background-color: #30a1fe;
    }
  }

  &.button--cancel {
    background-color: #fff;
    border: 1px solid #e0e0e0;

    &:hover {
      border-color: #bababa;
    }
  }

  &.button--complete {
    background-color: #078cf8;
    border: 1px solid transparent;
    color: #fff;

    &:hover {
      background-color: #64b8fc;
    }
  }
}

.button--add-logo {
  margin-right: 8px;
}

.button--add-text {
  font-weight: 500;
}
